Plugins>UnequalTiffs 0.1.1, "UT Montage", unequaltiffs.UnequalTiffs("Montage")
Plugins>UnequalTiffs 0.1.1, "UT Concatenate", unequaltiffs.UnequalTiffs("Concatenate")
Plugins>UnequalTiffs 0.1.1, "UT Explore BDV", unequaltiffs.UnequalTiffs("BrowseBDV")
Plugins>UnequalTiffs 0.1.1, "UT Explore BVV", unequaltiffs.UnequalTiffs("BrowseBVV")